﻿@model ApplicationCore.Orders.Dto.OrderDto
@{
    ViewData["Title"] = "Создание заказа";
}

<h1>Создание заказа</h1>

<form asp-controller="Home" asp-action="Create" method="post">
    
    @Html.ValidationSummary()

    <div class="form-group">
        <label for="Number">Номер</label>
        @Html.TextBoxFor(m => m.Number)
    </div>

    <div class="form-group">
        <label for="ProviderId">Выберите поставщика</label>
        @Html.DropDownListFor(m => m.ProviderId, Model.Providers)
    </div>


    <div class="form-group">

        <div class="js-order-items">

        </div>

        <div class="add-item-wrapper">
            <div class="form-inline">
                <div class="form-group">
                    <div class="btn btn-primary js-add-item">Добавить элемент заказа</div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-right">Сохранить заказ</button>
</form>

@section Scripts
{
    <script>

        var index = 0;

        $('body').on('click', '.js-remove', function () {
            $(this).parent().parent().remove();
            rebaseIndex();
        });

        rebaseIndex();

        function rebaseIndex() {
            var inputs = $("body .js-order-items .input-group");
            for (var i = 0; i < inputs.length; i++) {
                $(inputs[i]).find(".js-input-id").attr("name", "OrderItems[" + i + "].Id");
                $(inputs[i]).find(".js-input-name").attr("name", "OrderItems[" + i + "].Name");
                $(inputs[i]).find(".js-input-unit").attr("name", "OrderItems[" + i + "].Unit");
                $(inputs[i]).find(".js-input-quantity").attr("name", "OrderItems[" + i + "].Quantity");
            }
            index = inputs.length - 1;
        }

        

        $("body").on('click', '.js-add-item', function() {

            index++;
            
            var newInput =
                "<div class=\"control-group\"><label>Элемент заказа</label><div class=\"controls input-group\"><input name=\"OrderItems[" +
                    index +
                    "].Id\" value=\"" +
                    0 +
                    "\" type=\"hidden\" class=\"js-input-id\" /> <input name=\"OrderItems[" +
                    index +
                    "].Name\" value=\"\" type=\"text\" class=\"input-xlarge js-input-name\" placeholder=\"Название\" /> <input name=\"OrderItems[" +
                    index +
                    "].Unit\" value=\"\" type=\"text\" class=\"input-xlarge js-input-unit\" placeholder=\"Единица измерения\" /> <input name=\"OrderItems[" +
                    index +
                "].Quantity\" value=\"\" type=\"number\" class=\"input-xlarge js-input-quantity\" placeholder=\"Количество\" /> <span class=\"input-group-text js-remove\">удалить</span></div></div>";

            $(".js-order-items").append(newInput);

        });


    </script>
}