﻿@model ApplicationCore.Orders.Dto.OrderDto
@{
    ViewData["Title"] = "Подробности заказа";
}

<h1>Подробности заказа</h1>

<div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                Номер: @Model.Number
            </td>
        </tr>
        <tr>
            <td>
                Дата создания: @Model.Date.ToShortDateString()
            </td>
        </tr>
        <tr>
            <td>
                Поставщик: @Model.Provider.Name
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br/>

<div>
    <h3>Детали заказа:</h3>
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-danger btn-right js-remove" order-id="@Model.Id">Удалить заказ</button>

@section Scripts{
    <script>
        $(".js-remove").click(function() {
            var id = $(this).attr("order-id");
            deleteOrder(id);
        });

        function deleteOrder(id)
        {
            $.post('/Home/Delete', { id: id }, function (response) {
                window.location = "/Home/Index";
            });
        }
    </script>
}


