﻿@model ApplicationCore.Orders.Dto.OrdersVm
@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<div class="row">
    <div class="col-md-8">
        <br/>
        <table class="table">
            <tbody>
            @foreach (var item in Model.Lists)
            {
                <tr>
                    <td>@item.Number</td>
                    <td>@item.Date</td>
                    <td>@item.Provider.Name</td>
                    <td>
                        <a class="btn btn-light" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">Смотреть</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <p>Фильтр:</p>
        @Html.DropDownListFor(m=>m.ProviderId, Model.Providers)
        <button class="btn btn-primary mt-10">Применить</button>
        <br/>
        <a class="mt-10" asp-controller="Home" asp-action="Index">Сбросить</a>
    </div>
</div>

@section Scripts{ 
    <script>

        var providerId = 0;

        $('#ProviderId').on('change', function() {
            providerId = this.value;
        });

        $("button").click(function() {
            var url = '/Home/Index?providerId=' + providerId;
            window.location = url;
        });
        
    </script>
}

